.odmanage {
    width: 100%;

    &__container {
        max-width: 1200px;
        margin: auto;
        display: flex;
    }
    &__tab {
        background-color: $WhiteColor;
        display: flex;
        position: relative;
        box-shadow: 1px 1px 1px 1px rgba($black, .21);
        padding: .2rem;   
        &--item {
            min-width: 80px;
            padding: 16px 20px 11px 20px;
            font-size: 20px;
            text-align: center;
            color: $main;
            background-color: #fff;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            border-bottom: 5px solid transparent;
            opacity: 0.6;
            cursor: pointer;
            transition: all 0.5s ease;
            &--active{
                opacity: 1;
            }
        }

        &__container {
            flex: 1;
        }

        &__line {
            left: 0;
            bottom: 0;
            width: 1000;
            height: 3px;
            border-radius: 15px;
            background-color: $main;
            transition: all 0.2s ease-in;
        }
    }
    &__order{
        &__noorder{
            width: 100%;
            height: 600px;
            margin-top: 1rem;
            box-shadow: 1px 1px 1px 1px rgba($black, .21);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: $text-main;
            &--img{
                height: 10rem;
                width: 10rem;
                margin-bottom: 1rem;
            }

        }
    }
    &__content{
        flex: 1;
        width: 100%;
        height: 100%;
        margin-top: 1rem;
        &__container{
            height: 100%;
        }
    }
    
}
