/**
 * scss for popup component
 * file: Popup.scss
 */
.popup {
  .children {
    padding: 10px;
    box-sizing: border-box;
  }
}
  .css-1t1j96h-MuiPaper-root-MuiDialog-paper {
    box-shadow: none !important;
    max-width: none !important;
    padding: 10px;
  }
  
