/**
 * scss for loading Circularcomponents
 * file: CircularLoading.scss
 */
.dialog {
  background: transparent !important;
}

.css-1t1j96h-MuiPaper-root-MuiDialog-paper {
  box-shadow: none !important;
  max-width: none !important;
  padding: 10px;
}
